{% load static %}
<!DOCTYPE html>

<html>

<head>
    <title>
        Crop Statistics
    </title>

    <link rel="stylesheet" href="{% static 'crop\css\stats.css' %}">
</head>

<body>

    <h1>In {{ssn}} Season {{crp}}'s Statistics</h1>


{%if dist_detail%}

    <table style="width: 45%;">
        <tr>
            <th>District</th>
            <th>Year</th>
            <th>Season</th>
            <th>Crop</th>
            <th>Area</th>
            <th>Production</th>
        </tr>
            {% for i in dist_detail %}
            <tr>
                <td>{{i.dist}}</td>
                <td>{{i.year}}</td>
                <td>{{i.season}}</td>
                <td>{{i.crop}}</td>
                <td>{{i.area}}</td>
                <td>{{i.production}}</td>
            </tr>

            {%endfor%}
        
        
        </table>

    {%else%}
        <p>There was no {{crp}} crop Yeild in {{ssn}} Season</p>

        {%endif%}

<a href="{% url 'home'%}"><button>Back to Home</button></a>
<input type=button value="Previous Page" onClick="javascript:history.go(-1);">

</body>

</html>